
body{
    
    
} 


#header{
    width: auto;
    height: 100px;
    margin: 0 auto;
    padding-top: 20px;
    background-color: beige;
}
.nav{
    width: 980px;
    margin: 0 auto;
}
.nav li{
    float: left;
}
a{
    margin: 0 auto;
    font-size: 32px;
    display: inline-block;
    height: 48px;
    padding: 0 50px;
    line-height: 48px;
}
.nav a:hover{background: burlywood;}

#lunbo{
    padding-top: 0px;
}

#lunbo ul li{
    width:100%;
    list-style: none;
    width:640px; 
    height:250px;
    background-color: #f00;
    text-align: center;
    padding-left: 0px;
    padding-top: 0px;

}
#lunbo ul li:not(:first-child){
        display: none;
}

/* 简介 */
#jianjie{
    padding-top: 100px;
    width: 980px;
    margin:0 auto;
}
h2{
    font-weight: 100;
    font-size: 24px;
    color: black;
    padding: 40px 0;
    border-bottom: 7px solid #ececec;
}
#jianjie dl{
    width: 145px;
    height: 220px;
    float: left;
}
#jianjie dd{
    width: 780px;
    padding: 20px 0 0 30px;
    float: left;
}
#jianjie .txt1{
    font-size: 25px;
    color: black;
}
#jianjie .txt2{
    color: dimgrey;
    line-height: 24px;
}
.imgbox{
    width: 1080px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
.imgbox img{
    border-radius:50%;
    
    width: 226px;
    height: 129px;
    padding: 2px;
}
.imgbox a{
    margin-right: 20px;
}